<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,2},{348,301}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{348,301}}</string>
                <key>sourceSize</key>
                <string>{350,303}</string>
            </dict>
            <key>15838.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1570},{406,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{406,155}}</string>
                <key>sourceSize</key>
                <string>{410,159}</string>
            </dict>
            <key>15845.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1570},{406,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{406,155}}</string>
                <key>sourceSize</key>
                <string>{410,159}</string>
            </dict>
            <key>15975.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{547,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{547,714}}</string>
                <key>sourceSize</key>
                <string>{549,716}</string>
            </dict>
            <key>16156.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{835,334}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{835,334}}</string>
                <key>sourceSize</key>
                <string>{837,336}</string>
            </dict>
            <key>17767.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1053},{515,685}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{515,685}}</string>
                <key>sourceSize</key>
                <string>{517,687}</string>
            </dict>
            <key>19196.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{396,1078}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{396,1078}}</string>
                <key>sourceSize</key>
                <string>{398,1080}</string>
            </dict>
            <key>19197.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,1218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{354,1218}}</string>
                <key>sourceSize</key>
                <string>{356,1220}</string>
            </dict>
            <key>20375.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{726,434}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{726,434}}</string>
                <key>sourceSize</key>
                <string>{728,436}</string>
            </dict>
            <key>20428.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,305},{345,485}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{345,485}}</string>
                <key>sourceSize</key>
                <string>{347,487}</string>
            </dict>
            <key>20436.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1570},{649,333}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{649,333}}</string>
                <key>sourceSize</key>
                <string>{651,335}</string>
            </dict>
            <key>20437.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,718},{435,315}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{435,315}}</string>
                <key>sourceSize</key>
                <string>{437,317}</string>
            </dict>
            <key>20438.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,839},{384,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{384,212}}</string>
                <key>sourceSize</key>
                <string>{386,214}</string>
            </dict>
            <key>20441.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1082},{917,432}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{917,432}}</string>
                <key>sourceSize</key>
                <string>{919,434}</string>
            </dict>
            <key>20497.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,950},{407,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{407,156}}</string>
                <key>sourceSize</key>
                <string>{409,158}</string>
            </dict>
            <key>20504.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,792},{407,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{407,156}}</string>
                <key>sourceSize</key>
                <string>{409,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>senlin6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a43ed2940896631b17ab19ab9e3585$</string>
            <key>textureFileName</key>
            <string>senlin6.png</string>
        </dict>
    </dict>
</plist>
