<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11752.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1774},{261,271}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{261,271}}</string>
                <key>sourceSize</key>
                <string>{263,273}</string>
            </dict>
            <key>13613.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,496},{237,307}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{237,307}}</string>
                <key>sourceSize</key>
                <string>{239,309}</string>
            </dict>
            <key>13690.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1853},{182,297}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,297}}</string>
                <key>sourceSize</key>
                <string>{184,299}</string>
            </dict>
            <key>13691.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,487},{170,297}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,297}}</string>
                <key>sourceSize</key>
                <string>{172,299}</string>
            </dict>
            <key>13700.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,815},{200,403}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{200,403}}</string>
                <key>sourceSize</key>
                <string>{202,405}</string>
            </dict>
            <key>13705.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,815},{200,391}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{200,391}}</string>
                <key>sourceSize</key>
                <string>{202,393}</string>
            </dict>
            <key>14426.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,496},{401,264}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{401,264}}</string>
                <key>sourceSize</key>
                <string>{403,266}</string>
            </dict>
            <key>15841.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1790},{240,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{242,158}</string>
            </dict>
            <key>15844.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1790},{240,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,155}}</string>
                <key>sourceSize</key>
                <string>{244,159}</string>
            </dict>
            <key>16114.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1017},{253,755}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{253,755}}</string>
                <key>sourceSize</key>
                <string>{255,757}</string>
            </dict>
            <key>16115.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1029},{228,822}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,822}}</string>
                <key>sourceSize</key>
                <string>{230,824}</string>
            </dict>
            <key>16122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1029},{338,940}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{338,940}}</string>
                <key>sourceSize</key>
                <string>{340,942}</string>
            </dict>
            <key>17592.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1657},{225,360}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,360}}</string>
                <key>sourceSize</key>
                <string>{227,362}</string>
            </dict>
            <key>17593.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{239,434}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{239,434}}</string>
                <key>sourceSize</key>
                <string>{241,436}</string>
            </dict>
            <key>17594.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1261},{259,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{259,394}}</string>
                <key>sourceSize</key>
                <string>{261,396}</string>
            </dict>
            <key>17595.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1522},{266,352}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,352}}</string>
                <key>sourceSize</key>
                <string>{268,354}</string>
            </dict>
            <key>19194.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1017},{407,638}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{407,638}}</string>
                <key>sourceSize</key>
                <string>{409,640}</string>
            </dict>
            <key>19195.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1011},{339,546}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{339,546}}</string>
                <key>sourceSize</key>
                <string>{341,548}</string>
            </dict>
            <key>19234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{629,492}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{629,492}}</string>
                <key>sourceSize</key>
                <string>{631,494}</string>
            </dict>
            <key>19778.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,1025}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{356,1025}}</string>
                <key>sourceSize</key>
                <string>{358,1027}</string>
            </dict>
            <key>19779.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{811,561}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{811,561}}</string>
                <key>sourceSize</key>
                <string>{813,563}</string>
            </dict>
            <key>20424.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,1001},{258,303}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{258,303}}</string>
                <key>sourceSize</key>
                <string>{260,305}</string>
            </dict>
            <key>20426.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,786},{223,359}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{223,359}}</string>
                <key>sourceSize</key>
                <string>{225,361}</string>
            </dict>
            <key>20427.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,496},{214,284}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,284}}</string>
                <key>sourceSize</key>
                <string>{216,286}</string>
            </dict>
            <key>20429.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1657},{227,375}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{227,375}}</string>
                <key>sourceSize</key>
                <string>{229,377}</string>
            </dict>
            <key>20432.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,762},{237,335}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{237,335}}</string>
                <key>sourceSize</key>
                <string>{239,337}</string>
            </dict>
            <key>20439.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,243},{242,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{242,170}}</string>
                <key>sourceSize</key>
                <string>{244,172}</string>
            </dict>
            <key>20440.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,243},{249,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{249,166}}</string>
                <key>sourceSize</key>
                <string>{251,168}</string>
            </dict>
            <key>20500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1790},{240,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{242,158}</string>
            </dict>
            <key>20503.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,762},{240,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{242,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>senlin5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bedf3819e084b516593919550929b8e1$</string>
            <key>textureFileName</key>
            <string>senlin5.png</string>
        </dict>
    </dict>
</plist>
