<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11744.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,157},{185,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,224}}</string>
                <key>sourceSize</key>
                <string>{187,226}</string>
            </dict>
            <key>11753.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,256},{240,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>11755.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{252,239}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{252,239}}</string>
                <key>sourceSize</key>
                <string>{254,241}</string>
            </dict>
            <key>11899.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,566},{175,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,224}}</string>
                <key>sourceSize</key>
                <string>{177,226}</string>
            </dict>
            <key>1251.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{191,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{191,240}}</string>
                <key>sourceSize</key>
                <string>{193,242}</string>
            </dict>
            <key>14250.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,822},{225,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,394}}</string>
                <key>sourceSize</key>
                <string>{227,396}</string>
            </dict>
            <key>14251.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1218},{240,306}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,306}}</string>
                <key>sourceSize</key>
                <string>{242,308}</string>
            </dict>
            <key>14300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,498},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,235}}</string>
                <key>sourceSize</key>
                <string>{168,237}</string>
            </dict>
            <key>14351.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1773},{166,266}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,266}}</string>
                <key>sourceSize</key>
                <string>{168,268}</string>
            </dict>
            <key>14352.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,820},{187,285}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,285}}</string>
                <key>sourceSize</key>
                <string>{189,287}</string>
            </dict>
            <key>14363.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1392},{160,261}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{160,261}}</string>
                <key>sourceSize</key>
                <string>{162,263}</string>
            </dict>
            <key>14369.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1364},{184,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,252}}</string>
                <key>sourceSize</key>
                <string>{186,254}</string>
            </dict>
            <key>14375.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1655},{184,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,252}}</string>
                <key>sourceSize</key>
                <string>{186,254}</string>
            </dict>
            <key>15819.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1392},{150,277}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{150,277}}</string>
                <key>sourceSize</key>
                <string>{152,279}</string>
            </dict>
            <key>15820.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1671},{179,274}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,274}}</string>
                <key>sourceSize</key>
                <string>{181,276}</string>
            </dict>
            <key>15821.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1067},{168,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,238}}</string>
                <key>sourceSize</key>
                <string>{170,240}</string>
            </dict>
            <key>15825.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1291},{153,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,222}}</string>
                <key>sourceSize</key>
                <string>{155,224}</string>
            </dict>
            <key>15826.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1476},{160,295}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{160,295}}</string>
                <key>sourceSize</key>
                <string>{162,297}</string>
            </dict>
            <key>15827.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1326},{153,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,240}}</string>
                <key>sourceSize</key>
                <string>{155,242}</string>
            </dict>
            <key>15839.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,931},{195,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{195,128}}</string>
                <key>sourceSize</key>
                <string>{199,132}</string>
            </dict>
            <key>15840.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,293},{279,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{279,132}}</string>
                <key>sourceSize</key>
                <string>{281,134}</string>
            </dict>
            <key>15842.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,624},{195,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{195,128}}</string>
                <key>sourceSize</key>
                <string>{199,132}</string>
            </dict>
            <key>15843.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,2},{279,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{279,131}}</string>
                <key>sourceSize</key>
                <string>{283,135}</string>
            </dict>
            <key>16116.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{250,683}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{250,683}}</string>
                <key>sourceSize</key>
                <string>{252,685}</string>
            </dict>
            <key>16117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{228,698}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,698}}</string>
                <key>sourceSize</key>
                <string>{230,700}</string>
            </dict>
            <key>16123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,825}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{231,825}}</string>
                <key>sourceSize</key>
                <string>{233,827}</string>
            </dict>
            <key>16125.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,829},{245,697}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{245,697}}</string>
                <key>sourceSize</key>
                <string>{247,699}</string>
            </dict>
            <key>16162.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1073},{251,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{251,187}}</string>
                <key>sourceSize</key>
                <string>{253,189}</string>
            </dict>
            <key>16175.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1101},{151,261}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,261}}</string>
                <key>sourceSize</key>
                <string>{153,263}</string>
            </dict>
            <key>16518.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,298},{243,290}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{243,290}}</string>
                <key>sourceSize</key>
                <string>{245,292}</string>
            </dict>
            <key>16654.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{282,294}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{282,294}}</string>
                <key>sourceSize</key>
                <string>{284,296}</string>
            </dict>
            <key>17187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,817},{248,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,143}}</string>
                <key>sourceSize</key>
                <string>{250,145}</string>
            </dict>
            <key>17188.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{233,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{233,153}}</string>
                <key>sourceSize</key>
                <string>{235,155}</string>
            </dict>
            <key>17189.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1171},{303,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{303,160}}</string>
                <key>sourceSize</key>
                <string>{305,162}</string>
            </dict>
            <key>17190.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1618},{252,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{252,152}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>17591.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,591},{239,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{239,227}}</string>
                <key>sourceSize</key>
                <string>{241,229}</string>
            </dict>
            <key>17596.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,687},{198,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,139}}</string>
                <key>sourceSize</key>
                <string>{200,141}</string>
            </dict>
            <key>17750.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1526},{193,334}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{193,334}}</string>
                <key>sourceSize</key>
                <string>{195,336}</string>
            </dict>
            <key>1955.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,539},{147,241}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{147,241}}</string>
                <key>sourceSize</key>
                <string>{149,243}</string>
            </dict>
            <key>19721.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,782},{237,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{237,236}}</string>
                <key>sourceSize</key>
                <string>{239,238}</string>
            </dict>
            <key>19777.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{246,497}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{246,497}}</string>
                <key>sourceSize</key>
                <string>{248,499}</string>
            </dict>
            <key>19980.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1528},{278,404}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{278,404}}</string>
                <key>sourceSize</key>
                <string>{280,406}</string>
            </dict>
            <key>20366.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{620,304}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{620,304}}</string>
                <key>sourceSize</key>
                <string>{622,306}</string>
            </dict>
            <key>20422.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,822},{158,347}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,347}}</string>
                <key>sourceSize</key>
                <string>{160,349}</string>
            </dict>
            <key>20423.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{166,289}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,289}}</string>
                <key>sourceSize</key>
                <string>{168,291}</string>
            </dict>
            <key>20425.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1128},{161,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{161,210}}</string>
                <key>sourceSize</key>
                <string>{163,212}</string>
            </dict>
            <key>20430.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,298},{148,291}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,291}}</string>
                <key>sourceSize</key>
                <string>{150,293}</string>
            </dict>
            <key>20433.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1107},{184,283}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,283}}</string>
                <key>sourceSize</key>
                <string>{186,285}</string>
            </dict>
            <key>20434.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1862},{184,305}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,305}}</string>
                <key>sourceSize</key>
                <string>{186,307}</string>
            </dict>
            <key>20498.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,735},{194,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,130}}</string>
                <key>sourceSize</key>
                <string>{196,132}</string>
            </dict>
            <key>20499.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,820},{279,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{279,133}}</string>
                <key>sourceSize</key>
                <string>{281,135}</string>
            </dict>
            <key>20501.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1909},{194,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,130}}</string>
                <key>sourceSize</key>
                <string>{196,132}</string>
            </dict>
            <key>20502.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,687},{279,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{279,133}}</string>
                <key>sourceSize</key>
                <string>{281,135}</string>
            </dict>
            <key>20779.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,498},{141,237}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,237}}</string>
                <key>sourceSize</key>
                <string>{143,239}</string>
            </dict>
            <key>20780.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1872},{169,233}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,233}}</string>
                <key>sourceSize</key>
                <string>{171,235}</string>
            </dict>
            <key>20786.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1110},{169,213}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,213}}</string>
                <key>sourceSize</key>
                <string>{171,215}</string>
            </dict>
            <key>340.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,590},{158,225}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,225}}</string>
                <key>sourceSize</key>
                <string>{160,227}</string>
            </dict>
            <key>3655.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,283},{133,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,254}}</string>
                <key>sourceSize</key>
                <string>{135,256}</string>
            </dict>
            <key>7404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,951},{157,201}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,201}}</string>
                <key>sourceSize</key>
                <string>{159,203}</string>
            </dict>
            <key>7406.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,792},{157,201}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,201}}</string>
                <key>sourceSize</key>
                <string>{159,203}</string>
            </dict>
            <key>7409.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,344},{187,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,220}}</string>
                <key>sourceSize</key>
                <string>{189,222}</string>
            </dict>
            <key>7747.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,574},{147,241}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{147,241}}</string>
                <key>sourceSize</key>
                <string>{149,243}</string>
            </dict>
            <key>7749.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,817},{133,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,254}}</string>
                <key>sourceSize</key>
                <string>{135,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>senlin4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:884132bfac0af77205ba8c3eed6553a7$</string>
            <key>textureFileName</key>
            <string>senlin4.png</string>
        </dict>
    </dict>
</plist>
