<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11745.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,517},{169,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,211}}</string>
                <key>sourceSize</key>
                <string>{171,213}</string>
            </dict>
            <key>11746.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,364},{169,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,210}}</string>
                <key>sourceSize</key>
                <string>{171,212}</string>
            </dict>
            <key>11748.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,133},{175,223}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,223}}</string>
                <key>sourceSize</key>
                <string>{177,225}</string>
            </dict>
            <key>11749.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1011},{165,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{165,194}}</string>
                <key>sourceSize</key>
                <string>{167,196}</string>
            </dict>
            <key>11750.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{182,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,206}}</string>
                <key>sourceSize</key>
                <string>{184,208}</string>
            </dict>
            <key>11900.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,186},{176,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,210}}</string>
                <key>sourceSize</key>
                <string>{178,212}</string>
            </dict>
            <key>11901.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,477},{184,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,206}}</string>
                <key>sourceSize</key>
                <string>{186,208}</string>
            </dict>
            <key>12376.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1777},{229,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{229,129}}</string>
                <key>sourceSize</key>
                <string>{231,131}</string>
            </dict>
            <key>1250.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,2},{129,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,226}}</string>
                <key>sourceSize</key>
                <string>{131,228}</string>
            </dict>
            <key>13692.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1623},{128,275}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,275}}</string>
                <key>sourceSize</key>
                <string>{130,277}</string>
            </dict>
            <key>13701.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1642},{155,316}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{155,316}}</string>
                <key>sourceSize</key>
                <string>{157,318}</string>
            </dict>
            <key>13706.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1323},{160,312}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{160,312}}</string>
                <key>sourceSize</key>
                <string>{162,314}</string>
            </dict>
            <key>14031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,310},{185,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,136}}</string>
                <key>sourceSize</key>
                <string>{187,138}</string>
            </dict>
            <key>14249.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{230,378}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{230,378}}</string>
                <key>sourceSize</key>
                <string>{232,380}</string>
            </dict>
            <key>14350.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,959},{141,245}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,245}}</string>
                <key>sourceSize</key>
                <string>{143,247}</string>
            </dict>
            <key>14353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,532},{145,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,220}}</string>
                <key>sourceSize</key>
                <string>{147,222}</string>
            </dict>
            <key>14355.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1905},{141,245}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,245}}</string>
                <key>sourceSize</key>
                <string>{143,247}</string>
            </dict>
            <key>14356.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1569},{155,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{155,244}}</string>
                <key>sourceSize</key>
                <string>{157,246}</string>
            </dict>
            <key>14359.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,208},{147,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{147,190}}</string>
                <key>sourceSize</key>
                <string>{149,192}</string>
            </dict>
            <key>14361.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1321},{118,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,176}}</string>
                <key>sourceSize</key>
                <string>{120,178}</string>
            </dict>
            <key>14362.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,535},{146,223}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,223}}</string>
                <key>sourceSize</key>
                <string>{148,225}</string>
            </dict>
            <key>14364.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,186},{127,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,214}}</string>
                <key>sourceSize</key>
                <string>{129,216}</string>
            </dict>
            <key>14368.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1172},{162,234}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,234}}</string>
                <key>sourceSize</key>
                <string>{164,236}</string>
            </dict>
            <key>14370.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,685},{142,243}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,243}}</string>
                <key>sourceSize</key>
                <string>{144,245}</string>
            </dict>
            <key>14374.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,1172},{162,234}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,234}}</string>
                <key>sourceSize</key>
                <string>{164,236}</string>
            </dict>
            <key>14376.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,931},{142,243}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,243}}</string>
                <key>sourceSize</key>
                <string>{144,245}</string>
            </dict>
            <key>15822.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,532},{146,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,210}}</string>
                <key>sourceSize</key>
                <string>{148,212}</string>
            </dict>
            <key>15823.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1158},{141,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,203}}</string>
                <key>sourceSize</key>
                <string>{143,205}</string>
            </dict>
            <key>15824.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1315},{129,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,244}}</string>
                <key>sourceSize</key>
                <string>{131,246}</string>
            </dict>
            <key>16124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,684}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{224,684}}</string>
                <key>sourceSize</key>
                <string>{226,686}</string>
            </dict>
            <key>16143.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1623},{280,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,116}}</string>
                <key>sourceSize</key>
                <string>{282,118}</string>
            </dict>
            <key>16163.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,477},{208,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,136}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
            <key>16164.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,2},{176,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,132}}</string>
                <key>sourceSize</key>
                <string>{178,134}</string>
            </dict>
            <key>16166.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,448},{182,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,198}}</string>
                <key>sourceSize</key>
                <string>{184,200}</string>
            </dict>
            <key>16176.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1895},{151,261}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,261}}</string>
                <key>sourceSize</key>
                <string>{153,263}</string>
            </dict>
            <key>16653.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1323},{278,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{278,298}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>16655.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1781},{216,229}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{216,229}}</string>
                <key>sourceSize</key>
                <string>{218,231}</string>
            </dict>
            <key>16902.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1179},{234,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,132}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>16903.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1549},{230,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{230,130}}</string>
                <key>sourceSize</key>
                <string>{232,132}</string>
            </dict>
            <key>16905.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1637},{304,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{304,118}}</string>
                <key>sourceSize</key>
                <string>{306,120}</string>
            </dict>
            <key>17186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,754},{213,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,145}}</string>
                <key>sourceSize</key>
                <string>{215,147}</string>
            </dict>
            <key>17341.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,688},{138,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,270}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>17342.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,933},{187,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,244}}</string>
                <key>sourceSize</key>
                <string>{189,246}</string>
            </dict>
            <key>17345.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1623},{138,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,270}}</string>
                <key>sourceSize</key>
                <string>{140,272}</string>
            </dict>
            <key>17346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,685},{185,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,244}}</string>
                <key>sourceSize</key>
                <string>{187,246}</string>
            </dict>
            <key>17349.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,688},{138,269}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,269}}</string>
                <key>sourceSize</key>
                <string>{140,271}</string>
            </dict>
            <key>17350.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1323},{187,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,244}}</string>
                <key>sourceSize</key>
                <string>{189,246}</string>
            </dict>
            <key>17353.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,960},{138,269}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,269}}</string>
                <key>sourceSize</key>
                <string>{140,271}</string>
            </dict>
            <key>17355.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,687},{187,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,244}}</string>
                <key>sourceSize</key>
                <string>{189,246}</string>
            </dict>
            <key>17590.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,648},{188,205}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{188,205}}</string>
                <key>sourceSize</key>
                <string>{190,207}</string>
            </dict>
            <key>17751.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,930},{179,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,240}}</string>
                <key>sourceSize</key>
                <string>{181,242}</string>
            </dict>
            <key>17910.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,400},{158,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>17915.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1550},{189,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{189,235}}</string>
                <key>sourceSize</key>
                <string>{191,237}</string>
            </dict>
            <key>17982.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1313},{189,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{189,235}}</string>
                <key>sourceSize</key>
                <string>{191,237}</string>
            </dict>
            <key>18007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1787},{178,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,235}}</string>
                <key>sourceSize</key>
                <string>{180,237}</string>
            </dict>
            <key>18008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,363},{167,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,217}}</string>
                <key>sourceSize</key>
                <string>{169,219}</string>
            </dict>
            <key>19198.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1703},{242,320}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{242,320}}</string>
                <key>sourceSize</key>
                <string>{244,322}</string>
            </dict>
            <key>19230.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{426,473}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{426,473}}</string>
                <key>sourceSize</key>
                <string>{428,475}</string>
            </dict>
            <key>19231.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{633,545}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{633,545}}</string>
                <key>sourceSize</key>
                <string>{635,547}</string>
            </dict>
            <key>19761.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,2},{153,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,149}}</string>
                <key>sourceSize</key>
                <string>{155,151}</string>
            </dict>
            <key>19774.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{178,513}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,513}}</string>
                <key>sourceSize</key>
                <string>{180,515}</string>
            </dict>
            <key>19814.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,683},{153,223}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,223}}</string>
                <key>sourceSize</key>
                <string>{155,225}</string>
            </dict>
            <key>19815.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1561},{166,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,240}}</string>
                <key>sourceSize</key>
                <string>{168,242}</string>
            </dict>
            <key>19847.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,969},{154,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,187}}</string>
                <key>sourceSize</key>
                <string>{156,189}</string>
            </dict>
            <key>19849.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,855},{154,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,188}}</string>
                <key>sourceSize</key>
                <string>{156,190}</string>
            </dict>
            <key>19978.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1803},{151,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,236}}</string>
                <key>sourceSize</key>
                <string>{153,238}</string>
            </dict>
            <key>19979.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1546},{146,229}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,229}}</string>
                <key>sourceSize</key>
                <string>{148,231}</string>
            </dict>
            <key>20457.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,817},{178,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,136}}</string>
                <key>sourceSize</key>
                <string>{180,138}</string>
            </dict>
            <key>20485.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{620,303}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{620,303}}</string>
                <key>sourceSize</key>
                <string>{622,305}</string>
            </dict>
            <key>20778.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1408},{136,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,211}}</string>
                <key>sourceSize</key>
                <string>{138,213}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1943},{87,189}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,189}}</string>
                <key>sourceSize</key>
                <string>{89,191}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,955},{125,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,160}}</string>
                <key>sourceSize</key>
                <string>{127,162}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1206},{107,193}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,193}}</string>
                <key>sourceSize</key>
                <string>{109,195}</string>
            </dict>
            <key>7297.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,680},{135,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,198}}</string>
                <key>sourceSize</key>
                <string>{137,200}</string>
            </dict>
            <key>7298.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,477},{206,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{208,200}</string>
            </dict>
            <key>7405.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,157},{148,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,204}}</string>
                <key>sourceSize</key>
                <string>{150,206}</string>
            </dict>
            <key>7407.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,2},{148,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,204}}</string>
                <key>sourceSize</key>
                <string>{150,206}</string>
            </dict>
            <key>7494.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1323},{116,317}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,317}}</string>
                <key>sourceSize</key>
                <string>{118,319}</string>
            </dict>
            <key>7496.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,959},{135,251}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,251}}</string>
                <key>sourceSize</key>
                <string>{137,253}</string>
            </dict>
            <key>7739.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1363},{136,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{138,180}</string>
            </dict>
            <key>7740.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1212},{109,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,183}}</string>
                <key>sourceSize</key>
                <string>{111,185}</string>
            </dict>
            <key>7741.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1178},{141,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,194}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>7742.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,1408},{139,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{139,175}}</string>
                <key>sourceSize</key>
                <string>{141,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>senlin3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ba93beb63cd68918ab662c9b1fb760e$</string>
            <key>textureFileName</key>
            <string>senlin3.png</string>
        </dict>
    </dict>
</plist>
