<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20773.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,392},{430,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{430,206}}</string>
                <key>sourceSize</key>
                <string>{432,208}</string>
            </dict>
            <key>20864.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,614},{498,159}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{498,159}}</string>
                <key>sourceSize</key>
                <string>{500,161}</string>
            </dict>
            <key>20865.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,2},{695,556}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{695,556}}</string>
                <key>sourceSize</key>
                <string>{697,558}</string>
            </dict>
            <key>20866.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{532,592}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{532,592}}</string>
                <key>sourceSize</key>
                <string>{534,594}</string>
            </dict>
            <key>20877.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1047,610}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1047,610}}</string>
                <key>sourceSize</key>
                <string>{1049,612}</string>
            </dict>
            <key>20882.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1208},{400,328}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{400,328}}</string>
                <key>sourceSize</key>
                <string>{402,330}</string>
            </dict>
            <key>20885.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1566},{427,545}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{427,545}}</string>
                <key>sourceSize</key>
                <string>{429,547}</string>
            </dict>
            <key>20888.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,560},{666,646}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{666,646}}</string>
                <key>sourceSize</key>
                <string>{668,648}</string>
            </dict>
            <key>20890.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1569},{401,389}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{401,389}}</string>
                <key>sourceSize</key>
                <string>{403,391}</string>
            </dict>
            <key>20897.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1134},{437,430}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{437,430}}</string>
                <key>sourceSize</key>
                <string>{439,432}</string>
            </dict>
            <key>20902.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1566},{359,429}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{359,429}}</string>
                <key>sourceSize</key>
                <string>{361,431}</string>
            </dict>
            <key>20903.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1208},{359,327}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{359,327}}</string>
                <key>sourceSize</key>
                <string>{361,329}</string>
            </dict>
            <key>20915.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,824},{422,327}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{422,327}}</string>
                <key>sourceSize</key>
                <string>{424,329}</string>
            </dict>
            <key>20916.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,775},{442,357}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{442,357}}</string>
                <key>sourceSize</key>
                <string>{444,359}</string>
            </dict>
            <key>20933.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,2},{274,388}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,388}}</string>
                <key>sourceSize</key>
                <string>{276,390}</string>
            </dict>
            <key>20935.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{655,374}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{655,374}}</string>
                <key>sourceSize</key>
                <string>{657,376}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuedi4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dca772b6c230712eb081d438e90e908$</string>
            <key>textureFileName</key>
            <string>xuedi4.png</string>
        </dict>
    </dict>
</plist>
