<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20727.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,269},{53,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,95}}</string>
                <key>sourceSize</key>
                <string>{55,97}</string>
            </dict>
            <key>20729.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,453},{71,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,98}}</string>
                <key>sourceSize</key>
                <string>{73,100}</string>
            </dict>
            <key>20740.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,196},{34,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,81}}</string>
                <key>sourceSize</key>
                <string>{36,83}</string>
            </dict>
            <key>20750.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,202},{145,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,157}}</string>
                <key>sourceSize</key>
                <string>{147,159}</string>
            </dict>
            <key>20751.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,428},{98,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>20754.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,332},{88,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>20755.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,481},{61,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>20756.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,515},{58,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>20757.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,518},{65,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>20763.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,165},{102,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,56}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>20770.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{100,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,73}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>20771.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,263},{100,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{102,55}</string>
            </dict>
            <key>20772.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,528},{97,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,65}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>20774.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,251},{149,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,75}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>20777.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,308},{146,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,62}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>20810.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{186,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{186,94}}</string>
                <key>sourceSize</key>
                <string>{188,96}</string>
            </dict>
            <key>20812.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{118,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,57}}</string>
                <key>sourceSize</key>
                <string>{120,59}</string>
            </dict>
            <key>20813.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{114,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,57}}</string>
                <key>sourceSize</key>
                <string>{116,59}</string>
            </dict>
            <key>20814.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,372},{131,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,57}}</string>
                <key>sourceSize</key>
                <string>{133,59}</string>
            </dict>
            <key>20815.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,157},{104,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{106,43}</string>
            </dict>
            <key>20816.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,349},{66,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>20817.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,349},{107,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,50}}</string>
                <key>sourceSize</key>
                <string>{109,52}</string>
            </dict>
            <key>20818.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{104,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{106,52}</string>
            </dict>
            <key>20819.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,188},{32,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,13}}</string>
                <key>sourceSize</key>
                <string>{34,15}</string>
            </dict>
            <key>20820.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,152},{34,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,16}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>20821.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,57},{50,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,21}}</string>
                <key>sourceSize</key>
                <string>{52,23}</string>
            </dict>
            <key>20822.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{53,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>20823.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,248},{84,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,35}}</string>
                <key>sourceSize</key>
                <string>{86,37}</string>
            </dict>
            <key>20824.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,363},{42,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>20825.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,505},{65,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>20826.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{176,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,58}}</string>
                <key>sourceSize</key>
                <string>{178,60}</string>
            </dict>
            <key>20827.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,136},{167,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,58}}</string>
                <key>sourceSize</key>
                <string>{169,60}</string>
            </dict>
            <key>20828.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,355},{45,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>20829.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,51},{112,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{114,58}</string>
            </dict>
            <key>20860.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,285},{79,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,45}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>20861.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,527},{72,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,47}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>20869.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,377},{100,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{102,70}</string>
            </dict>
            <key>20870.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,417},{94,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>20876.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,431},{49,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{51,95}</string>
            </dict>
            <key>20899.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,328},{123,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,145}}</string>
                <key>sourceSize</key>
                <string>{125,147}</string>
            </dict>
            <key>20922.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,503},{62,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>20925.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,366},{68,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>20927.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{204,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,99}}</string>
                <key>sourceSize</key>
                <string>{206,101}</string>
            </dict>
            <key>20928.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{204,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,99}}</string>
                <key>sourceSize</key>
                <string>{206,101}</string>
            </dict>
            <key>20929.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,508},{62,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>20931.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,103},{162,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,97}}</string>
                <key>sourceSize</key>
                <string>{164,99}</string>
            </dict>
            <key>20932.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,152},{162,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,97}}</string>
                <key>sourceSize</key>
                <string>{164,99}</string>
            </dict>
            <key>701019.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,196},{79,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,153}}</string>
                <key>sourceSize</key>
                <string>{81,155}</string>
            </dict>
            <key>701020.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,62},{79,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,174}}</string>
                <key>sourceSize</key>
                <string>{81,176}</string>
            </dict>
            <key>701023.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,143},{79,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,153}}</string>
                <key>sourceSize</key>
                <string>{81,155}</string>
            </dict>
            <key>701024.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{79,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,173}}</string>
                <key>sourceSize</key>
                <string>{81,175}</string>
            </dict>
            <key>701041.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{174,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,132}}</string>
                <key>sourceSize</key>
                <string>{176,134}</string>
            </dict>
            <key>701042.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,436},{50,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>701043.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,401},{50,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,107}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>701044.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,224},{84,151}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,151}}</string>
                <key>sourceSize</key>
                <string>{86,153}</string>
            </dict>
            <key>701049.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,377},{41,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>701051.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,386},{130,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,68}}</string>
                <key>sourceSize</key>
                <string>{132,70}</string>
            </dict>
            <key>701066.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,310},{140,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>701068.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,248},{105,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{107,45}</string>
            </dict>
            <key>701069.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,103},{143,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{143,39}}</string>
                <key>sourceSize</key>
                <string>{145,41}</string>
            </dict>
            <key>701077.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,277},{151,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,29}}</string>
                <key>sourceSize</key>
                <string>{153,31}</string>
            </dict>
            <key>701078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{262,47}}</string>
                <key>sourceSize</key>
                <string>{264,49}</string>
            </dict>
            <key>701083.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,83},{169,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,67}}</string>
                <key>sourceSize</key>
                <string>{171,69}</string>
            </dict>
            <key>701085.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,482},{89,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,31}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>701102.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,481},{22,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>701103.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,453},{67,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,130}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>701104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{62,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,93}}</string>
                <key>sourceSize</key>
                <string>{64,95}</string>
            </dict>
            <key>701114.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,492},{78,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>701115.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,447},{78,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>701116.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,445},{78,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>701117.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,365},{78,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>701118.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,444},{46,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>701119.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,479},{46,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>701120.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,431},{46,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>701121.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,279},{46,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>701123.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,327},{42,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>701124.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,420},{39,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>701125.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,109},{46,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>701134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{67,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,107}}</string>
                <key>sourceSize</key>
                <string>{69,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuedi6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d059d321f550c878e4f736fa4cdb8285$</string>
            <key>textureFileName</key>
            <string>xuedi6.png</string>
        </dict>
    </dict>
</plist>
