<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20880.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{654,689}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{654,689}}</string>
                <key>sourceSize</key>
                <string>{656,691}</string>
            </dict>
            <key>20891.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1439},{594,622}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{594,622}}</string>
                <key>sourceSize</key>
                <string>{596,624}</string>
            </dict>
            <key>20893.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1264},{619,612}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{619,612}}</string>
                <key>sourceSize</key>
                <string>{621,614}</string>
            </dict>
            <key>20896.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,689},{573,715}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{573,715}}</string>
                <key>sourceSize</key>
                <string>{575,717}</string>
            </dict>
            <key>20910.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1047,845}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1047,845}}</string>
                <key>sourceSize</key>
                <string>{1049,847}</string>
            </dict>
            <key>20912.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,2},{685,858}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{685,858}}</string>
                <key>sourceSize</key>
                <string>{687,860}</string>
            </dict>
            <key>20934.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,849},{588,333}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{588,333}}</string>
                <key>sourceSize</key>
                <string>{590,335}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuedi1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd1ca8182812d48980e839e2d1e0c48$</string>
            <key>textureFileName</key>
            <string>xuedi1.png</string>
        </dict>
    </dict>
</plist>
