<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13371345.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1896},{150,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,213}}</string>
                <key>sourceSize</key>
                <string>{150,213}</string>
            </dict>
            <key>14006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1681},{131,215}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,215}}</string>
                <key>sourceSize</key>
                <string>{133,217}</string>
            </dict>
            <key>14007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1681},{131,215}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,215}}</string>
                <key>sourceSize</key>
                <string>{133,217}</string>
            </dict>
            <key>14008.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1337},{131,333}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,333}}</string>
                <key>sourceSize</key>
                <string>{133,335}</string>
            </dict>
            <key>16028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1278},{183,219}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{183,219}}</string>
                <key>sourceSize</key>
                <string>{185,221}</string>
            </dict>
            <key>16030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,157},{136,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,195}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>16031.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1896},{169,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,150}}</string>
                <key>sourceSize</key>
                <string>{171,152}</string>
            </dict>
            <key>16032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,2},{168,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,214}}</string>
                <key>sourceSize</key>
                <string>{170,216}</string>
            </dict>
            <key>16033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,536},{156,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,166}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>16159.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1847},{220,199}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{220,199}}</string>
                <key>sourceSize</key>
                <string>{222,201}</string>
            </dict>
            <key>16160.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1713},{236,200}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,200}}</string>
                <key>sourceSize</key>
                <string>{238,202}</string>
            </dict>
            <key>16161.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,674},{288,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{288,197}}</string>
                <key>sourceSize</key>
                <string>{290,199}</string>
            </dict>
            <key>16182.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,971},{364,312}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{364,312}}</string>
                <key>sourceSize</key>
                <string>{366,314}</string>
            </dict>
            <key>16183.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{335,260}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{335,260}}</string>
                <key>sourceSize</key>
                <string>{337,262}</string>
            </dict>
            <key>16184.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1471},{374,369}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{374,369}}</string>
                <key>sourceSize</key>
                <string>{376,371}</string>
            </dict>
            <key>17021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,2},{114,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,168}}</string>
                <key>sourceSize</key>
                <string>{116,170}</string>
            </dict>
            <key>17024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,564},{152,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{152,170}}</string>
                <key>sourceSize</key>
                <string>{154,172}</string>
            </dict>
            <key>17111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{270,462}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{270,462}}</string>
                <key>sourceSize</key>
                <string>{272,464}</string>
            </dict>
            <key>17363.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,776},{142,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,171}}</string>
                <key>sourceSize</key>
                <string>{144,173}</string>
            </dict>
            <key>17378.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,964},{312,306}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{312,306}}</string>
                <key>sourceSize</key>
                <string>{314,308}</string>
            </dict>
            <key>17379.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,634},{268,284}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,284}}</string>
                <key>sourceSize</key>
                <string>{270,286}</string>
            </dict>
            <key>17380.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,339},{280,333}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,333}}</string>
                <key>sourceSize</key>
                <string>{282,335}</string>
            </dict>
            <key>17381.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,971},{283,322}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{283,322}}</string>
                <key>sourceSize</key>
                <string>{285,324}</string>
            </dict>
            <key>17385.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{275,326}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{275,326}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>18091.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1470},{203,342}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{203,342}}</string>
                <key>sourceSize</key>
                <string>{205,344}</string>
            </dict>
            <key>19500.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,676},{271,293}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{271,293}}</string>
                <key>sourceSize</key>
                <string>{273,295}</string>
            </dict>
            <key>19501.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1295},{171,201}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,201}}</string>
                <key>sourceSize</key>
                <string>{173,203}</string>
            </dict>
            <key>19502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,218},{168,189}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,189}}</string>
                <key>sourceSize</key>
                <string>{170,191}</string>
            </dict>
            <key>19510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1899},{269,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,146}}</string>
                <key>sourceSize</key>
                <string>{271,148}</string>
            </dict>
            <key>20256.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1481},{235,413}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{235,413}}</string>
                <key>sourceSize</key>
                <string>{237,415}</string>
            </dict>
            <key>20335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1481},{258,416}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{258,416}}</string>
                <key>sourceSize</key>
                <string>{260,418}</string>
            </dict>
            <key>20339.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{193,445}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{193,445}}</string>
                <key>sourceSize</key>
                <string>{195,447}</string>
            </dict>
            <key>20341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{245,223}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{245,223}}</string>
                <key>sourceSize</key>
                <string>{247,225}</string>
            </dict>
            <key>20357.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,339},{112,335}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,335}}</string>
                <key>sourceSize</key>
                <string>{114,337}</string>
            </dict>
            <key>20358.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,510}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,510}}</string>
                <key>sourceSize</key>
                <string>{196,512}</string>
            </dict>
            <key>20454.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1278},{207,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{207,183}}</string>
                <key>sourceSize</key>
                <string>{209,185}</string>
            </dict>
            <key>20455.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,718},{174,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,162}}</string>
                <key>sourceSize</key>
                <string>{176,164}</string>
            </dict>
            <key>20456.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,605},{178,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,169}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>20684.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,514},{168,456}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,456}}</string>
                <key>sourceSize</key>
                <string>{170,458}</string>
            </dict>
            <key>3936.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,821},{140,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>3937.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1038},{142,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
            <key>3938.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,851},{156,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,144}}</string>
                <key>sourceSize</key>
                <string>{158,146}</string>
            </dict>
            <key>3939.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1463},{177,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,217}}</string>
                <key>sourceSize</key>
                <string>{179,219}</string>
            </dict>
            <key>3940.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,737},{153,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,167}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>3941.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,393},{141,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,158}}</string>
                <key>sourceSize</key>
                <string>{143,160}</string>
            </dict>
            <key>3942.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,450},{153,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,194}}</string>
                <key>sourceSize</key>
                <string>{155,196}</string>
            </dict>
            <key>3943.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,920},{142,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
            <key>3945.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,541},{153,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,194}}</string>
                <key>sourceSize</key>
                <string>{155,196}</string>
            </dict>
            <key>3946.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1898},{146,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,167}}</string>
                <key>sourceSize</key>
                <string>{148,169}</string>
            </dict>
            <key>3950.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,821},{140,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>3951.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,997},{142,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,153}}</string>
                <key>sourceSize</key>
                <string>{144,155}</string>
            </dict>
            <key>3952.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,704},{156,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>3953.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1463},{177,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,216}}</string>
                <key>sourceSize</key>
                <string>{179,218}</string>
            </dict>
            <key>3954.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,409},{153,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{155,170}</string>
            </dict>
            <key>3955.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,249},{142,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,158}}</string>
                <key>sourceSize</key>
                <string>{144,160}</string>
            </dict>
            <key>3956.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,295},{153,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,194}}</string>
                <key>sourceSize</key>
                <string>{155,196}</string>
            </dict>
            <key>3957.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,894},{142,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,153}}</string>
                <key>sourceSize</key>
                <string>{144,155}</string>
            </dict>
            <key>3959.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,2},{153,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,195}}</string>
                <key>sourceSize</key>
                <string>{155,197}</string>
            </dict>
            <key>3960.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1898},{146,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{148,170}</string>
            </dict>
            <key>6144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{156,501}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,501}}</string>
                <key>sourceSize</key>
                <string>{158,503}</string>
            </dict>
            <key>6171.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1387},{82,269}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,269}}</string>
                <key>sourceSize</key>
                <string>{84,271}</string>
            </dict>
            <key>701208.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{188,288}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{188,288}}</string>
                <key>sourceSize</key>
                <string>{190,290}</string>
            </dict>
            <key>701209.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{192,337}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,337}}</string>
                <key>sourceSize</key>
                <string>{194,339}</string>
            </dict>
            <key>701210.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,972},{200,413}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{200,413}}</string>
                <key>sourceSize</key>
                <string>{202,415}</string>
            </dict>
            <key>701211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1468},{238,243}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,243}}</string>
                <key>sourceSize</key>
                <string>{240,245}</string>
            </dict>
            <key>701212.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,449},{259,370}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{259,370}}</string>
                <key>sourceSize</key>
                <string>{261,372}</string>
            </dict>
            <key>701214.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,330},{213,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,302}}</string>
                <key>sourceSize</key>
                <string>{215,304}</string>
            </dict>
            <key>7425.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,292},{247,244}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{247,244}}</string>
                <key>sourceSize</key>
                <string>{249,246}</string>
            </dict>
            <key>7426.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1713},{237,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{237,212}}</string>
                <key>sourceSize</key>
                <string>{239,214}</string>
            </dict>
            <key>9722.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1814},{225,205}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,205}}</string>
                <key>sourceSize</key>
                <string>{227,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandi4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60a3c87cd092672b0eae126c408d18a8$</string>
            <key>textureFileName</key>
            <string>shandi4.png</string>
        </dict>
    </dict>
</plist>
