<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16182.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,503},{364,312}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{364,312}}</string>
                <key>sourceSize</key>
                <string>{366,314}</string>
            </dict>
            <key>16184.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1674},{374,369}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{374,369}}</string>
                <key>sourceSize</key>
                <string>{376,371}</string>
            </dict>
            <key>17103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{1050,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1050,656}}</string>
                <key>sourceSize</key>
                <string>{1054,660}</string>
            </dict>
            <key>17109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1021},{504,651}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{504,651}}</string>
                <key>sourceSize</key>
                <string>{506,653}</string>
            </dict>
            <key>17110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{454,499}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{454,499}}</string>
                <key>sourceSize</key>
                <string>{456,501}</string>
            </dict>
            <key>17118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,1070}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{794,1070}}</string>
                <key>sourceSize</key>
                <string>{796,1072}</string>
            </dict>
            <key>17365.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1674},{425,297}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{425,297}}</string>
                <key>sourceSize</key>
                <string>{427,299}</string>
            </dict>
            <key>20338.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{292,432}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{292,432}}</string>
                <key>sourceSize</key>
                <string>{294,434}</string>
            </dict>
            <key>20452.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,896},{292,375}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{292,375}}</string>
                <key>sourceSize</key>
                <string>{294,377}</string>
            </dict>
            <key>20682.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{384,1017}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{384,1017}}</string>
                <key>sourceSize</key>
                <string>{386,1019}</string>
            </dict>
            <key>20683.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{219,664}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{219,664}}</string>
                <key>sourceSize</key>
                <string>{221,666}</string>
            </dict>
            <key>701213.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1732},{303,442}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{303,442}}</string>
                <key>sourceSize</key>
                <string>{305,444}</string>
            </dict>
            <key>701215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1190},{298,332}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{298,332}}</string>
                <key>sourceSize</key>
                <string>{300,334}</string>
            </dict>
            <key>701216.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,436},{302,379}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{302,379}}</string>
                <key>sourceSize</key>
                <string>{304,381}</string>
            </dict>
            <key>9723.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,503},{244,391}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{244,391}}</string>
                <key>sourceSize</key>
                <string>{246,393}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandi3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949408edc545a1b13e158203d1181983$</string>
            <key>textureFileName</key>
            <string>shandi3.png</string>
        </dict>
    </dict>
</plist>
