<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17103.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{1050,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1050,656}}</string>
                <key>sourceSize</key>
                <string>{1054,660}</string>
            </dict>
            <key>17118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,1070}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{794,1070}}</string>
                <key>sourceSize</key>
                <string>{796,1072}</string>
            </dict>
            <key>19587.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{663,494}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{663,494}}</string>
                <key>sourceSize</key>
                <string>{665,496}</string>
            </dict>
            <key>19934.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,660},{382,387}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{382,387}}</string>
                <key>sourceSize</key>
                <string>{384,389}</string>
            </dict>
            <key>20257.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1558},{406,455}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{406,455}}</string>
                <key>sourceSize</key>
                <string>{408,457}</string>
            </dict>
            <key>20340.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1713},{347,318}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{347,318}}</string>
                <key>sourceSize</key>
                <string>{349,320}</string>
            </dict>
            <key>20342.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1739},{386,267}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{386,267}}</string>
                <key>sourceSize</key>
                <string>{388,269}</string>
            </dict>
            <key>20343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1713},{323,351}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{323,351}}</string>
                <key>sourceSize</key>
                <string>{325,353}</string>
            </dict>
            <key>20344.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,660},{369,421}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{369,421}}</string>
                <key>sourceSize</key>
                <string>{371,423}</string>
            </dict>
            <key>20445.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1071},{355,450}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{355,450}}</string>
                <key>sourceSize</key>
                <string>{357,452}</string>
            </dict>
            <key>20446.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1071},{369,445}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{369,445}}</string>
                <key>sourceSize</key>
                <string>{371,447}</string>
            </dict>
            <key>20449.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1031},{375,361}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{375,361}}</string>
                <key>sourceSize</key>
                <string>{377,363}</string>
            </dict>
            <key>20450.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,660},{400,409}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{400,409}}</string>
                <key>sourceSize</key>
                <string>{402,411}</string>
            </dict>
            <key>20451.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,1394},{317,375}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{317,375}}</string>
                <key>sourceSize</key>
                <string>{319,377}</string>
            </dict>
            <key>20453.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1074},{482,323}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{482,323}}</string>
                <key>sourceSize</key>
                <string>{484,325}</string>
            </dict>
            <key>20646.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1523},{369,445}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{369,445}}</string>
                <key>sourceSize</key>
                <string>{371,447}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandi2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d47e33244d528c2f3280ac23b22cc16$</string>
            <key>textureFileName</key>
            <string>shandi2.png</string>
        </dict>
    </dict>
</plist>
