<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1050,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1050,656}}</string>
                <key>sourceSize</key>
                <string>{1054,660}</string>
            </dict>
            <key>19587.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{663,494}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{663,494}}</string>
                <key>sourceSize</key>
                <string>{665,496}</string>
            </dict>
            <key>19922.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1215},{488,402}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{488,402}}</string>
                <key>sourceSize</key>
                <string>{490,404}</string>
            </dict>
            <key>19935.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{667,568}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{667,568}}</string>
                <key>sourceSize</key>
                <string>{669,570}</string>
            </dict>
            <key>20442.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1230},{415,510}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{415,510}}</string>
                <key>sourceSize</key>
                <string>{417,512}</string>
            </dict>
            <key>20443.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,721},{479,492}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{479,492}}</string>
                <key>sourceSize</key>
                <string>{481,494}</string>
            </dict>
            <key>20447.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,721},{455,440}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{455,440}}</string>
                <key>sourceSize</key>
                <string>{457,442}</string>
            </dict>
            <key>20448.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1163},{480,438}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{480,438}}</string>
                <key>sourceSize</key>
                <string>{482,440}</string>
            </dict>
            <key>20647.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,721},{415,483}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{415,483}}</string>
                <key>sourceSize</key>
                <string>{417,485}</string>
            </dict>
            <key>9721.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{717,849}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{717,849}}</string>
                <key>sourceSize</key>
                <string>{719,851}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandi1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f49da17c06829667c5aa168e225b0323$</string>
            <key>textureFileName</key>
            <string>shandi1.png</string>
        </dict>
    </dict>
</plist>
