<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13075.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,497},{70,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>13076.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,516},{63,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>13077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{46,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>13078.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,131},{106,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{108,79}</string>
            </dict>
            <key>13079.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,346},{78,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>13080.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,426},{66,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>13081.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,612},{83,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,113}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>13413.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,891},{122,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,161}}</string>
                <key>sourceSize</key>
                <string>{124,163}</string>
            </dict>
            <key>13414.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,760},{146,199}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,199}}</string>
                <key>sourceSize</key>
                <string>{148,201}</string>
            </dict>
            <key>13415.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,891},{99,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,204}}</string>
                <key>sourceSize</key>
                <string>{101,206}</string>
            </dict>
            <key>13416.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,497},{113,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,136}}</string>
                <key>sourceSize</key>
                <string>{115,138}</string>
            </dict>
            <key>13522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{211,355}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{211,355}}</string>
                <key>sourceSize</key>
                <string>{213,357}</string>
            </dict>
            <key>16251.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,622},{267,262}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{267,262}}</string>
                <key>sourceSize</key>
                <string>{269,264}</string>
            </dict>
            <key>16252.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,687},{179,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,210}}</string>
                <key>sourceSize</key>
                <string>{181,212}</string>
            </dict>
            <key>16253.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,497},{188,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{188,268}}</string>
                <key>sourceSize</key>
                <string>{190,270}</string>
            </dict>
            <key>16254.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,579},{165,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{167,181}</string>
            </dict>
            <key>16255.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,908},{115,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,111}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>16256.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,868},{131,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,125}}</string>
                <key>sourceSize</key>
                <string>{133,127}</string>
            </dict>
            <key>16257.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{127,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,75}}</string>
                <key>sourceSize</key>
                <string>{129,77}</string>
            </dict>
            <key>16258.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,239},{105,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,77}}</string>
                <key>sourceSize</key>
                <string>{107,79}</string>
            </dict>
            <key>16259.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{504,493}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{504,493}}</string>
                <key>sourceSize</key>
                <string>{506,495}</string>
            </dict>
            <key>16260.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{435,618}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{435,618}}</string>
                <key>sourceSize</key>
                <string>{437,620}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoshan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f43ed83a8962bfc56fbf74b7ade80a70$</string>
            <key>textureFileName</key>
            <string>huoshan.png</string>
        </dict>
    </dict>
</plist>
