<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{441,634}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{441,634}}</string>
                <key>sourceSize</key>
                <string>{443,636}</string>
            </dict>
            <key>20559.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,875},{479,492}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{479,492}}</string>
                <key>sourceSize</key>
                <string>{481,494}</string>
            </dict>
            <key>20560.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{415,510}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{415,510}}</string>
                <key>sourceSize</key>
                <string>{417,512}</string>
            </dict>
            <key>20563.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1369},{455,440}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{455,440}}</string>
                <key>sourceSize</key>
                <string>{457,442}</string>
            </dict>
            <key>20567.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{871,747}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{871,747}}</string>
                <key>sourceSize</key>
                <string>{873,749}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandong1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a8d434ba249430d82d7bda0372c2eb$</string>
            <key>textureFileName</key>
            <string>shandong1.png</string>
        </dict>
    </dict>
</plist>
