<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11295.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{89,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,62}}</string>
                <key>sourceSize</key>
                <string>{91,64}</string>
            </dict>
            <key>11298.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,896},{89,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,60}}</string>
                <key>sourceSize</key>
                <string>{91,62}</string>
            </dict>
            <key>11299.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{89,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,62}}</string>
                <key>sourceSize</key>
                <string>{91,64}</string>
            </dict>
            <key>11486.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,889},{76,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{78,86}</string>
            </dict>
            <key>11487.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,794},{76,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>11488.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,889},{77,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>11519.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,821},{66,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>13407.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,294},{91,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,128}}</string>
                <key>sourceSize</key>
                <string>{93,130}</string>
            </dict>
            <key>13720.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,265},{77,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>13721.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,872},{71,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>13722.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,821},{71,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>13723.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,753},{41,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>13900.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{78,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,143}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>13901.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{68,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,144}}</string>
                <key>sourceSize</key>
                <string>{70,146}</string>
            </dict>
            <key>13904.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{66,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,143}}</string>
                <key>sourceSize</key>
                <string>{68,145}</string>
            </dict>
            <key>13905.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,244},{66,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,143}}</string>
                <key>sourceSize</key>
                <string>{68,145}</string>
            </dict>
            <key>14340.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,538},{94,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>17031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{92,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,60}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>17032.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,626},{93,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{95,64}</string>
            </dict>
            <key>17033.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,632},{93,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{95,64}</string>
            </dict>
            <key>17034.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,743},{92,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,60}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>17035.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,592},{93,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{95,64}</string>
            </dict>
            <key>17036.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,690},{92,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,61}}</string>
                <key>sourceSize</key>
                <string>{94,63}</string>
            </dict>
            <key>17152.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,225},{78,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>17153.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{70,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>17154.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,987},{76,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,31}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>17155.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,949},{65,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>17768.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,129},{113,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,144}}</string>
                <key>sourceSize</key>
                <string>{115,146}</string>
            </dict>
            <key>18075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{69,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,150}}</string>
                <key>sourceSize</key>
                <string>{71,152}</string>
            </dict>
            <key>18083.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,794},{60,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>19940.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{92,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,67}}</string>
                <key>sourceSize</key>
                <string>{94,69}</string>
            </dict>
            <key>19943.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,501},{97,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,82}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>19944.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{94,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>19945.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,585},{94,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>19946.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,723},{91,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{93,71}</string>
            </dict>
            <key>19947.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,753},{91,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,66}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>19948.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,656},{92,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>19950.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,980},{66,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>19951.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,975},{59,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>19952.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,657},{92,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>19953.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,805},{90,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>20161.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,696},{92,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,55}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>20162.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,753},{51,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{53,31}</string>
            </dict>
            <key>20163.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,312},{24,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>20553.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,405},{66,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,115}}</string>
                <key>sourceSize</key>
                <string>{68,117}</string>
            </dict>
            <key>20556.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,474},{62,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,103}}</string>
                <key>sourceSize</key>
                <string>{64,105}</string>
            </dict>
            <key>20557.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,968},{69,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,53}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>20558.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,871},{75,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{77,54}</string>
            </dict>
            <key>701140.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,404},{95,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>701144.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{125,155}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,155}}</string>
                <key>sourceSize</key>
                <string>{127,157}</string>
            </dict>
            <key>701147.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{86,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,122}}</string>
                <key>sourceSize</key>
                <string>{88,124}</string>
            </dict>
            <key>701148.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,530},{94,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>701151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,226}}</string>
                <key>sourceSize</key>
                <string>{59,228}</string>
            </dict>
            <key>701153.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,130},{93,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{95,73}</string>
            </dict>
            <key>701154.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,547},{93,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>701160.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,61},{73,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>701161.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{93,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,106}}</string>
                <key>sourceSize</key>
                <string>{95,108}</string>
            </dict>
            <key>701163.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,344},{77,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>701165.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,949},{75,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>701197.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,191},{101,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,129}}</string>
                <key>sourceSize</key>
                <string>{103,131}</string>
            </dict>
            <key>701198.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,312},{91,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,127}</string>
            </dict>
            <key>701199.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{89,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,123}}</string>
                <key>sourceSize</key>
                <string>{91,125}</string>
            </dict>
            <key>701200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{94,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,121}}</string>
                <key>sourceSize</key>
                <string>{96,123}</string>
            </dict>
            <key>701201.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,387},{85,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{87,117}</string>
            </dict>
            <key>701202.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,93},{96,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{98,124}</string>
            </dict>
            <key>7886.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,891},{87,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{89,72}</string>
            </dict>
            <key>9782.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,474},{22,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,51}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>9783.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,387},{37,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,75}}</string>
                <key>sourceSize</key>
                <string>{39,77}</string>
            </dict>
            <key>9784.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,464},{34,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,81}}</string>
                <key>sourceSize</key>
                <string>{36,83}</string>
            </dict>
            <key>9785.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,473},{55,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,111}}</string>
                <key>sourceSize</key>
                <string>{57,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandong5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9df1de80c5e89931a9434d13fae3862$</string>
            <key>textureFileName</key>
            <string>shandong5.png</string>
        </dict>
    </dict>
</plist>
