<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,2},{12,76}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{12,76}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,892},{481,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,362}}</string>
                <key>sourceSize</key>
                <string>{481,362}</string>
            </dict>
            <key>hua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,932},{102,146}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{102,146}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>hua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,892},{82,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{82,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ku1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1143},{256,170}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>ku10.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{680,414}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{680,414}}</string>
                <key>sourceSize</key>
                <string>{704,416}</string>
            </dict>
            <key>ku12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,920},{324,213}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{324,213}}</string>
                <key>sourceSize</key>
                <string>{340,233}</string>
            </dict>
            <key>ku2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1143},{426,308}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{426,308}}</string>
                <key>sourceSize</key>
                <string>{512,320}</string>
            </dict>
            <key>ku3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1717},{320,366}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,366}}</string>
                <key>sourceSize</key>
                <string>{320,384}</string>
            </dict>
            <key>ku4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,715},{498,426}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{498,426}}</string>
                <key>sourceSize</key>
                <string>{576,448}</string>
            </dict>
            <key>ku5.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,806},{158,124}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,124}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>ku6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1036},{145,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,112}}</string>
                <key>sourceSize</key>
                <string>{145,112}</string>
            </dict>
            <key>ku7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1401},{382,314}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{382,314}}</string>
                <key>sourceSize</key>
                <string>{448,352}</string>
            </dict>
            <key>ku9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{688,368}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{688,368}}</string>
                <key>sourceSize</key>
                <string>{704,384}</string>
            </dict>
            <key>lv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,418},{78,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{78,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>lv11.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,372},{81,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,60}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,418},{606,472}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{606,472}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{619,432}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,85},{619,432}}</string>
                <key>sourceSize</key>
                <string>{691,542}</string>
            </dict>
            <key>lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{512,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,416}}</string>
                <key>sourceSize</key>
                <string>{512,416}</string>
            </dict>
            <key>lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{640,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,384}}</string>
                <key>sourceSize</key>
                <string>{640,384}</string>
            </dict>
            <key>lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,715},{203,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,217}}</string>
                <key>sourceSize</key>
                <string>{203,217}</string>
            </dict>
            <key>lv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,388},{637,325}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{637,325}}</string>
                <key>sourceSize</key>
                <string>{637,417}</string>
            </dict>
            <key>lv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,508},{98,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{98,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tree_small.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:736a2c0b312dd1748f98277203687a83$</string>
            <key>textureFileName</key>
            <string>tree_small.png</string>
        </dict>
    </dict>
</plist>
