<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{280,280}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>14244.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,959},{98,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,79}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>14331.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,807},{98,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,169}}</string>
                <key>sourceSize</key>
                <string>{100,171}</string>
            </dict>
            <key>14334.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,642},{54,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>14335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{109,282}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,282}}</string>
                <key>sourceSize</key>
                <string>{111,284}</string>
            </dict>
            <key>14337.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{414,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{414,202}}</string>
                <key>sourceSize</key>
                <string>{416,204}</string>
            </dict>
            <key>15464.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1131},{124,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,109}}</string>
                <key>sourceSize</key>
                <string>{126,111}</string>
            </dict>
            <key>15465.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,323},{175,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,141}}</string>
                <key>sourceSize</key>
                <string>{177,143}</string>
            </dict>
            <key>15466.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,466},{349,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{349,174}}</string>
                <key>sourceSize</key>
                <string>{351,176}</string>
            </dict>
            <key>15467.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,399},{56,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,83}}</string>
                <key>sourceSize</key>
                <string>{58,85}</string>
            </dict>
            <key>15468.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,555},{51,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,91}}</string>
                <key>sourceSize</key>
                <string>{53,93}</string>
            </dict>
            <key>15469.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,852},{105,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,90}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>15514.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,608},{90,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,135}}</string>
                <key>sourceSize</key>
                <string>{92,137}</string>
            </dict>
            <key>15515.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,988},{75,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,134}}</string>
                <key>sourceSize</key>
                <string>{77,136}</string>
            </dict>
            <key>15527.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1117},{71,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,110}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>15561.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{319,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{319,157}}</string>
                <key>sourceSize</key>
                <string>{321,159}</string>
            </dict>
            <key>15589.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{122,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,86}}</string>
                <key>sourceSize</key>
                <string>{124,88}</string>
            </dict>
            <key>15610.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,986},{89,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>15630.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,785},{155,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{155,238}}</string>
                <key>sourceSize</key>
                <string>{157,240}</string>
            </dict>
            <key>15632.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,907},{79,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,138}}</string>
                <key>sourceSize</key>
                <string>{81,140}</string>
            </dict>
            <key>15637.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,948},{33,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>15638.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,745},{105,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,90}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>15681.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,206},{398,377}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{398,377}}</string>
                <key>sourceSize</key>
                <string>{400,379}</string>
            </dict>
            <key>15684.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1065},{124,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,123}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>15685.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1031},{127,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,98}}</string>
                <key>sourceSize</key>
                <string>{129,100}</string>
            </dict>
            <key>15686.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1190},{103,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,123}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>15725.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,844},{69,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>15760.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,910},{36,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>15767.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,729},{34,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>15768.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,702},{128,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,103}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>15771.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,765},{77,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>15784.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{116,378}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,378}}</string>
                <key>sourceSize</key>
                <string>{118,380}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,942},{223,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{223,136}}</string>
                <key>sourceSize</key>
                <string>{225,138}</string>
            </dict>
            <key>701363.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,437}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{395,437}}</string>
                <key>sourceSize</key>
                <string>{397,439}</string>
            </dict>
            <key>701424.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,817},{137,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{139,156}</string>
            </dict>
            <key>701442.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,983},{36,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,105}}</string>
                <key>sourceSize</key>
                <string>{38,107}</string>
            </dict>
            <key>701444.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,948},{36,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,105}}</string>
                <key>sourceSize</key>
                <string>{38,107}</string>
            </dict>
            <key>701445.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,915},{41,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,95}}</string>
                <key>sourceSize</key>
                <string>{43,97}</string>
            </dict>
            <key>701446.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,910},{36,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,105}}</string>
                <key>sourceSize</key>
                <string>{38,107}</string>
            </dict>
            <key>701447.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,517},{36,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,93}}</string>
                <key>sourceSize</key>
                <string>{38,95}</string>
            </dict>
            <key>7480.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1031},{84,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{86,112}</string>
            </dict>
            <key>9220.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,585},{198,267}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,267}}</string>
                <key>sourceSize</key>
                <string>{200,269}</string>
            </dict>
            <key>cao.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,585},{115,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,129}}</string>
                <key>sourceSize</key>
                <string>{117,131}</string>
            </dict>
            <key>chuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1012},{35,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,63}}</string>
                <key>sourceSize</key>
                <string>{37,65}</string>
            </dict>
            <key>chuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,686},{41,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>qiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,551},{54,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,89}}</string>
                <key>sourceSize</key>
                <string>{56,91}</string>
            </dict>
            <key>qiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,484},{55,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>qiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,956},{73,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,187}}</string>
                <key>sourceSize</key>
                <string>{75,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_prop.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98820c2823a330db1b23d25e88a8f30c$</string>
            <key>textureFileName</key>
            <string>map_prop.png</string>
        </dict>
    </dict>
</plist>
