<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,200}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{212,200}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{182,198}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{182,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,398},{198,198}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{198,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{202,188}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{202,188}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,202},{200,204}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{200,204}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,198},{194,206}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{194,206}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,202}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{212,202}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{198,210}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{198,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{194,206}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{194,206}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,204},{204,192}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{204,192}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{202,188}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{202,188}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{186,198}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{186,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,774},{186,194}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{186,194}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,394},{192,178}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{192,178}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,394},{192,188}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{192,188}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,200}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{212,200}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>c_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{182,198}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{182,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuansongmen.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fae9557e0fe45a190d66a366136e6e1$</string>
            <key>textureFileName</key>
            <string>chuansongmen.png</string>
        </dict>
    </dict>
</plist>
