<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1202},{90,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1694},{346,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{346,296}}</string>
                <key>sourceSize</key>
                <string>{348,298}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,615},{370,569}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{370,569}}</string>
                <key>sourceSize</key>
                <string>{372,571}</string>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1276},{416,358}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{416,358}}</string>
                <key>sourceSize</key>
                <string>{418,360}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{457,431}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{457,431}}</string>
                <key>sourceSize</key>
                <string>{459,433}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1787},{191,237}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{191,237}}</string>
                <key>sourceSize</key>
                <string>{193,239}</string>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{268,670}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,670}}</string>
                <key>sourceSize</key>
                <string>{270,672}</string>
            </dict>
            <key>1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,677}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,677}}</string>
                <key>sourceSize</key>
                <string>{270,679}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1276},{188,192}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{188,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,435},{388,441}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{388,441}}</string>
                <key>sourceSize</key>
                <string>{390,443}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,878},{312,306}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{312,306}}</string>
                <key>sourceSize</key>
                <string>{314,308}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1787},{351,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{351,254}}</string>
                <key>sourceSize</key>
                <string>{353,256}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1202},{456,583}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{456,583}}</string>
                <key>sourceSize</key>
                <string>{458,585}</string>
            </dict>
            <key>2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,2},{424,495}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{424,495}}</string>
                <key>sourceSize</key>
                <string>{426,497}</string>
            </dict>
            <key>2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{526,611}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{526,611}}</string>
                <key>sourceSize</key>
                <string>{528,613}</string>
            </dict>
            <key>2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,615},{416,585}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{416,585}}</string>
                <key>sourceSize</key>
                <string>{418,587}</string>
            </dict>
            <key>3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,878},{302,451}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{302,451}}</string>
                <key>sourceSize</key>
                <string>{304,453}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,1076},{198,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,428},{476,448}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{476,448}}</string>
                <key>sourceSize</key>
                <string>{478,450}</string>
            </dict>
            <key>4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1186},{430,517}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{430,517}}</string>
                <key>sourceSize</key>
                <string>{432,519}</string>
            </dict>
            <key>4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1705},{338,428}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{338,428}}</string>
                <key>sourceSize</key>
                <string>{340,430}</string>
            </dict>
            <key>4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{555,636}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{555,636}}</string>
                <key>sourceSize</key>
                <string>{557,638}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,878},{200,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>house_small.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1805b41dc081a2aaece30db0d2798ab$</string>
            <key>textureFileName</key>
            <string>house_small.png</string>
        </dict>
    </dict>
</plist>
