<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1138},{605,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,520}}</string>
                <key>sourceSize</key>
                <string>{605,520}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1139},{524,646}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{524,646}}</string>
                <key>sourceSize</key>
                <string>{526,648}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{524,637}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{524,637}}</string>
                <key>sourceSize</key>
                <string>{526,639}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1053,608}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1053,608}}</string>
                <key>sourceSize</key>
                <string>{1055,610}</string>
            </dict>
            <key>3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1139},{501,498}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{501,498}}</string>
                <key>sourceSize</key>
                <string>{503,500}</string>
            </dict>
            <key>3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{742,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,572}}</string>
                <key>sourceSize</key>
                <string>{742,572}</string>
            </dict>
            <key>3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1139},{498,466}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{498,466}}</string>
                <key>sourceSize</key>
                <string>{500,468}</string>
            </dict>
            <key>4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,576},{561,705}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{561,705}}</string>
                <key>sourceSize</key>
                <string>{563,707}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>house_zhong.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee167f584bb8ee5f6f006b659685e9ce$</string>
            <key>textureFileName</key>
            <string>house_zhong.png</string>
        </dict>
    </dict>
</plist>
