<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10449.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1772},{63,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,36}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>10478.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,719},{57,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>10516.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,537},{60,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,37}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>10667.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,207},{61,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>13750.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,681},{102,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,51}}</string>
                <key>sourceSize</key>
                <string>{104,53}</string>
            </dict>
            <key>13751.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,968},{89,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,47}}</string>
                <key>sourceSize</key>
                <string>{91,49}</string>
            </dict>
            <key>13753.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1512},{82,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>13754.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1742},{88,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>13755.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1596},{76,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{78,44}</string>
            </dict>
            <key>13756.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,270},{89,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,39}}</string>
                <key>sourceSize</key>
                <string>{91,41}</string>
            </dict>
            <key>13757.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,111},{94,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,41}}</string>
                <key>sourceSize</key>
                <string>{96,43}</string>
            </dict>
            <key>13758.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1937},{86,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,31}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>15482.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1938},{153,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,95}}</string>
                <key>sourceSize</key>
                <string>{155,97}</string>
            </dict>
            <key>15483.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1743},{127,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,67}}</string>
                <key>sourceSize</key>
                <string>{129,69}</string>
            </dict>
            <key>15484.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{259,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{259,133}}</string>
                <key>sourceSize</key>
                <string>{261,135}</string>
            </dict>
            <key>15564.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,665},{296,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{296,323}}</string>
                <key>sourceSize</key>
                <string>{300,327}</string>
            </dict>
            <key>15565.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1613},{127,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{127,250}}</string>
                <key>sourceSize</key>
                <string>{131,254}</string>
            </dict>
            <key>15568.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,863},{87,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,50}}</string>
                <key>sourceSize</key>
                <string>{89,52}</string>
            </dict>
            <key>15569.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1703},{82,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,61}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>15570.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1351},{82,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>15571.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1504},{83,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,60}}</string>
                <key>sourceSize</key>
                <string>{85,62}</string>
            </dict>
            <key>15612.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{641,455}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{641,455}}</string>
                <key>sourceSize</key>
                <string>{643,457}</string>
            </dict>
            <key>15620.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{371,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{371,107}}</string>
                <key>sourceSize</key>
                <string>{373,109}</string>
            </dict>
            <key>15621.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1832},{29,11}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,11}}</string>
                <key>sourceSize</key>
                <string>{31,13}</string>
            </dict>
            <key>15622.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1162},{43,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>15623.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1435},{53,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>15835.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1671},{127,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{127,70}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>15836.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1207},{91,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,63}}</string>
                <key>sourceSize</key>
                <string>{95,67}</string>
            </dict>
            <key>15848.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,889},{181,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,117}}</string>
                <key>sourceSize</key>
                <string>{183,119}</string>
            </dict>
            <key>15849.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1693},{77,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>15850.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1927},{156,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,111}}</string>
                <key>sourceSize</key>
                <string>{158,113}</string>
            </dict>
            <key>15851.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1614},{131,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,77}}</string>
                <key>sourceSize</key>
                <string>{133,79}</string>
            </dict>
            <key>15853.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1513},{145,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,89}}</string>
                <key>sourceSize</key>
                <string>{147,91}</string>
            </dict>
            <key>15854.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1786},{149,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{151,76}</string>
            </dict>
            <key>15855.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{224,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{224,200}}</string>
                <key>sourceSize</key>
                <string>{228,204}</string>
            </dict>
            <key>15856.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1501},{146,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,101}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>15857.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1513},{192,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{192,156}}</string>
                <key>sourceSize</key>
                <string>{196,160}</string>
            </dict>
            <key>15858.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1132},{317,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{317,158}}</string>
                <key>sourceSize</key>
                <string>{321,162}</string>
            </dict>
            <key>15902.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{128,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,101}}</string>
                <key>sourceSize</key>
                <string>{130,103}</string>
            </dict>
            <key>15903.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1674},{69,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>15904.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1832},{104,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>16048.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1787},{196,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,149}}</string>
                <key>sourceSize</key>
                <string>{198,151}</string>
            </dict>
            <key>16049.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1072},{171,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,117}}</string>
                <key>sourceSize</key>
                <string>{173,119}</string>
            </dict>
            <key>16422.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1589},{62,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>16428.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1265},{84,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,57}}</string>
                <key>sourceSize</key>
                <string>{86,59}</string>
            </dict>
            <key>16429.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,442},{29,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>16430.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1787},{62,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{64,45}</string>
            </dict>
            <key>16431.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,785},{76,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,51}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>17533.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1478},{114,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,103}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>17534.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,599},{80,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,36}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>17535.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,877},{89,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,47}}</string>
                <key>sourceSize</key>
                <string>{91,49}</string>
            </dict>
            <key>19780.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{443,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{443,183}}</string>
                <key>sourceSize</key>
                <string>{445,185}</string>
            </dict>
            <key>19781.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{590,428}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{590,428}}</string>
                <key>sourceSize</key>
                <string>{592,430}</string>
            </dict>
            <key>19984.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1065},{102,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,53}}</string>
                <key>sourceSize</key>
                <string>{104,55}</string>
            </dict>
            <key>19985.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,778},{97,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,48}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>19986.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1265},{382,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{382,211}}</string>
                <key>sourceSize</key>
                <string>{384,213}</string>
            </dict>
            <key>19987.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,111},{552,334}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{552,334}}</string>
                <key>sourceSize</key>
                <string>{554,336}</string>
            </dict>
            <key>2029.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1938},{97,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>2031.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1938},{94,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,81}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>20686.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1583},{202,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{202,112}}</string>
                <key>sourceSize</key>
                <string>{204,114}</string>
            </dict>
            <key>3834.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1169},{64,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>3836.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,548},{84,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,49}}</string>
                <key>sourceSize</key>
                <string>{86,51}</string>
            </dict>
            <key>3842.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,361},{79,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,39}}</string>
                <key>sourceSize</key>
                <string>{81,41}</string>
            </dict>
            <key>3843.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,952},{84,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>3844.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2025},{42,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>3847.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1080},{80,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,23}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>3848.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1472},{53,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{55,32}</string>
            </dict>
            <key>3850.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1587},{34,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>4452.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1871},{26,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>4453.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1207},{13,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>700289.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,473},{62,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,37}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>700290.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1429},{81,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{83,46}</string>
            </dict>
            <key>700291.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1736},{69,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>700298.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,634},{83,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,49}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
            <key>700299.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1693},{81,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,42}}</string>
                <key>sourceSize</key>
                <string>{83,44}</string>
            </dict>
            <key>700301.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,459},{87,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,49}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>700303.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1088},{79,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{81,48}</string>
            </dict>
            <key>700305.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1513},{72,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>700310.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1771},{69,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,30}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>700390.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1059},{47,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>700391.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1845},{70,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{72,30}</string>
            </dict>
            <key>700957.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1786},{163,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{163,139}}</string>
                <key>sourceSize</key>
                <string>{165,141}</string>
            </dict>
            <key>700958.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1604},{193,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{193,180}}</string>
                <key>sourceSize</key>
                <string>{195,182}</string>
            </dict>
            <key>700959.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1245},{254,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,141}}</string>
                <key>sourceSize</key>
                <string>{256,143}</string>
            </dict>
            <key>700960.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1944},{109,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,99}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>701518.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1300},{384,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{384,211}}</string>
                <key>sourceSize</key>
                <string>{386,213}</string>
            </dict>
            <key>701519.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,963},{321,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{321,167}}</string>
                <key>sourceSize</key>
                <string>{323,169}</string>
            </dict>
            <key>701520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{468,189}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{468,189}}</string>
                <key>sourceSize</key>
                <string>{470,191}</string>
            </dict>
            <key>7622.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1693},{75,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>7623.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1803},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>7625.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1038},{56,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>7626.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1668},{62,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
            <key>8807.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1300},{127,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,45}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
            <key>8808.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1169},{127,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,45}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shamo.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:735385fdcdedcdd71ab6ccc68507f49e$</string>
            <key>textureFileName</key>
            <string>shamo.png</string>
        </dict>
    </dict>
</plist>
